@charset "utf-8";
/* CSS Document */



/*==========GLOBAL STYLES==============*/
body {
	font-family:"AvenirNextLTW02-Regular", Helvetica, Arial, sans-serif;
	background-color: #f6f6f6;
}



/*==========HEADER==============*/
.jumbotron {
	position: relative;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	background:url(../images/subtle-bg.jpg) no-repeat #5CB2D1; /* Old browsers */
	height:548px;
	background-size:100% 100%;
	overflow:hidden;
}


/* Masthead
------------------------- */
.masthead {
	margin-bottom: 0;
	color: #fff;
}
/*.masthead h1 {
	font-size: 50px;
	line-height: 1;
	letter-spacing: -2px;
}*/
.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}
.jumbotron .container {
	padding-top:50px;
}


.logo {
  margin-bottom: 28px;
  margin-top: 10px;
}



/*==========MOCKUP==============*/
.mockup {
	background:url(../images/macbook.png) top center no-repeat;
	height:450px;
	margin-top: 0px;
	/* -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease; */
}
/* .mockup:hover {
	margin-top:-20px;
} */ 

.mockup img {
    width: 407px;
    height: 259px;
    margin-top: 30px;
    margin-left: 2px;
}



/*==========SOCIAL==============*/
.social {
    text-align: center;
    margin-top: 25px;
}



/*==========SUBSCRIBE==============*/
.subscribe {
	text-align:center;
	padding-top:50px;
}
.subscribe h2 {
	font-size:38px;
	font-weight:600;
	color:#0e0d0d;
	line-height: 1;
	letter-spacing: -2px;
}
.subscribe h4 {
	font-size:24px;
	font-weight:400;
	color:#616161;
	line-height: 1.75;
  margin-bottom: 20px;
}



/*==========FOOTER==============*/
.footer {
	text-align:center;
	padding-bottom:50px;
	padding-top:20px;
}
.footer.footertext {
	color:#919191;
	font-size:12px;
	font-weight:300;
}



/*==========SUBSCRIBE FORM LAYOUT 2 Fix==============*/

.jumbotron .subscribe {
	padding-top:35px;
}


/*==========FEATURES==============*/

.Features p {
	font-size:20px;
	font-weight:300;
	color:#616161;
	line-height:1.5;
}

.Features {
	margin-top: -35px;
}

.Features div div {
	margin-bottom:40px;
}



.Features h2 {
	font-size:38px;
	font-weight:600;
	color:#0e0d0d;
	line-height: 1;
	letter-spacing: -2px;
	text-align:center;
	margin-bottom:60px;
  margin-top: 60px;
}

.ModelLink {
	display:block;
}


/*==========CUSTOM MEDIA QUERIES==============*/


/*MEDIA QUERIES*/

@media (max-width: 767px) {
    .jumbotron {
        padding: 20px 20px;
        margin-top: -20px;
        margin-right: -20px;
        margin-left: -20px;
    }
}

@media (max-width: 990px){
    .jumbotron p {
        font-size: 30px;
    }
}

@media (max-width: 690px){
    .jumbotron p {
        font-size: 22px;
    }
}

@media (max-width: 530px){
    .mockup {
        background: none;
    }
}

@media (min-width: 768px) and (max-width:990px) {
    .Features p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .mockup, .mockup.video {
        background-size: 100%;
    }
    .masthead p {
        font-size: 30px;
    }
    .Features p {
        font-size: 18px;
    }
}


/* fancybox */
.fmsg {
    display: none;
}
